<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Schedule Tee Time</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'tee_party_v3_app/css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

</head>

<body>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <nav class="navbar navbar-light bg-light">
        <h1 class="navbar-brand">Hello, {{ golfer.first_name }}!</h1>
        <h2 class="navbar-brand">Best Scorecard: {{ golfer.best_scorecard }}</h2>
        <h2 class="navbar-brand">Handicap: {{ golfer.handicap }}</h2>
        <form class="form-inline" action="/">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
        </form>
    </nav>

    <!-- {% if messages %}
    <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %} -->


    <h2>{{ course.name }}</h2>
    <div class="coursePage">
        <p>{{ course.address }}</p>
        <p>Par: {{ course.par }}</p>
        <p>Rating: {{ course.rating }}</p>
        <p>Slope: {{ course.slope }}</p>
    </div>


    <div class="d-flex">



        <div class="dropdown mr-1">
            <button type="button" class="btn btn-outline-success dropdown-toggle" id="dropdownMenuOffset"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
                Available Tee Times
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                <form action="/schedule/{{course.id}}" method="POST">
                    {% csrf_token %}
                    <div class="dropdown-item">
                        <input type="submit" class="form-control" name="tee_time" aria-describedby="tee_time"
                            value="10:00am" placeholder="10:00am">
                        <input type="submit" class="form-control" name="tee_time" aria-describedby="tee_time"
                            value="10:30am" placeholder="10:30am">
                        <input type="submit" class="form-control" name="tee_time" aria-describedby="tee_time"
                            value="11:00am" placeholder="11:00am">
                        <input type="submit" class="form-control" name="tee_time" aria-describedby="tee_time"
                            value="11:30am" placeholder="11:30am">
                        <input type="submit" class="form-control" name="tee_time" aria-describedby="tee_time"
                            value="12:00pm" placeholder="12:00pm">
                        <input type="submit" class="form-control" name="tee_time" aria-describedby="tee_time"
                            value="12:30pm" placeholder="12:30pm">
                        <input type="submit" class="form-control" name="tee_time" aria-describedby="tee_time"
                            value="1:00pm" placeholder="1:00pm">
                        <input type="submit" class="form-control" name="tee_time" aria-describedby="tee_time"
                            value="1:30pm" placeholder="1:30pm">
                        <input type="submit" class="form-control" name="tee_time" aria-describedby="tee_time"
                            value="2:00pm" placeholder="2:00pm">
                        <input type="submit" class="form-control" name="tee_time" aria-describedby="tee_time"
                            value="2:30pm" placeholder="2:30pm">
                        <input type="submit" class="form-control" name="tee_time" aria-describedby="tee_time"
                            value="3:00pm" placeholder="3:00pm">
                        <input type="submit" class="form-control" name="tee_time" aria-describedby="tee_time"
                            value="3:30pm" placeholder="3:30pm">
                        <input type="submit" class="form-control" name="tee_time" aria-describedby="tee_time"
                            value="4:00pm" placeholder="4:00pm">
                        <input type="submit" class="form-control" name="tee_time" aria-describedby="tee_time"
                            value="4:30pm" placeholder="4:30pm">
                        <input type="submit" class="form-control" name="tee_time" aria-describedby="tee_time"
                            value="5:00pm" placeholder="5:00pm">
                        <input type="submit" class="form-control" name="tee_time" aria-describedby="tee_time"
                            value="5:30pm" placeholder="5:30pm">
                    </div>
                </form>
            </div>
        </div>


        <a href="/dashboard" class="btn btn-outline-danger">Cancel</a>

    </div>


</body>

</html>